@import "../../../styles.scss";



.btn-danger {
    background-color: $red-color;
    border-color: $red-color;
    border-radius: 9999px;

    &:hover {
        background-color: $red-color;
        border-color: $red-color;
    }
    &:active {
        background-color: $red-color !important;
        border-color: $red-color !important;
    }
  
}








.sent-container {
display: flex;
justify-content: end;
}

.received-container {
    display: flex;
    justify-content: start;
}

.sent {
    background-color: #0f5a5f;
    color: $white-color;
    font-size: 12px;
    font-weight: 500;
    border-radius: 9999px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.received {
    background-color: $white-color;
    color: $bg-color !important;
    font-size: 12px;
    font-weight: 500;
    border-radius: 9999px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.bg-success {
    background-color: #23c896 !important;
}